.header-content-channel-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-mobile-author {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.header-mobile-author > h1 {
    font-size: 12px;
    line-height: 20px;
    color: #19202C;
}
.channel-splash {
    border-radius: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    justify-self: flex-start;
    padding-right: 70px;
}

.channel-splash > img {
    width: 100%;
    object-fit: fill;
}

.channel-author-buttons {
    display: flex;
    align-items: center;
    gap: 22px;
}

.channel-splash-mobile  {
  position: relative;
}

.channel-splash-mobile > img {
    width: 100%;
}
.channel-avatar-mobile{
    position: absolute;
    bottom: -35px;
    left: 16px;
}
.channel-page-mobile{
    position: relative;
}

.channel-sidebar-settings {
    padding-top: 180px;
}

.channel-author {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
}

.channel-author-header {
  display: flex;
    justify-content: space-between;
}

.channel-author-header-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 14px
}

.channel-info {
    display: flex;
    flex-direction: column;
}

.channel-info > h1{
    font-size: 26px;
    line-height: 33px;
}

.channel-info > p{
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.channel-info-mobile {
    margin: 37px 0;
    padding-left: 16px;
}

.channel-info-mobile > h1 {
    font-size: 15px;
    line-height: 25px;
}

.channel-info-mobile > p {
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
}

.channel-sections-mobile {
    padding: 0 35px 22px 16px;
}
.channel-sections-mobile > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selected-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FF0000;
}

.channel-content {
  display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-sections > ul {
    display: flex;
    gap: 69px
}

.channel-main-video {
    display: flex;
    gap: 32px;
    align-items: flex-start;
}


.video-info > h1 {
    font-size: var(--fs-400);
    line-height: 34px;
}

.video-info {
    align-self: flex-start;
    padding-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;

}

.video-info-description > h1 {
    font-size: var(--fs-400);
    line-height: 34px;
    color: #19202C;
}

.channel-sections-recommendations {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 59px;
}

.channel-recommendations-author{
    display: flex;
    flex-direction: row;
    font-size: var(--fs-400);
    line-height: 23px;
    color: #19202C;
    gap: 20px;
    margin-bottom: 30px;

}

.channel-page-videos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: flex-start;
    min-height: 300px;
}

.channel-recommendations-author > p{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 23px;
    color: #19202C;
}

.channel-background > img {
    width: 100%;
}

.channel-recommendations {
    display: flex;
    float: right;
    flex-direction: column;
    align-self: flex-start;
    gap: 30px;
    padding-left: 10px;
}

.channel-recommendations > h1 {
    float: right;
    align-self: flex-start;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
}

.video-info-description > p {
    font-size: var(--fs-400);
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.video-info-stats {
    display: flex;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.video-info > p {
    font-size: 16px;
    line-height: 22px;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.6;
}

.subscribe-button-mobile {
    padding: 0 0 32px 16px;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
.header-content-channel-mobile {
    display: none;
}

    .home-videos-mobile {
        display: none;
    }

    .channel-sections > ul {
        gap: 30px;
    }

    .channel-section {
        display: none;
    }

    .channel-sections-recommendations {
        gap: 20px;
    }

    .channel-splash {
        padding: 0 26px 0 26px;
    }

    .video-info {
        padding-top: 0;
    }

    .video-info-description > h1 {
        line-height: 17px;
    }

    .video-info-description > p {
        display: none;
    }

}

@media only screen and (min-width: 960px) and (max-width: 1250px) {

    .container {
        padding: 0 26px 0 26px;
    }

    .video-info {
        padding-top: 0;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .header-content-channel-mobile {
        display: none;
    }
    .mobile-content {
        display: none;
    }
    .home-videos-mobile {
        display: none;
    }
}