

.header-mobile-author {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.video-header {
    padding-top: 20px;
    font-size: var(--fs-600);
}

.player-description-desktop {
    display: flex;
    align-items: flex-start ;
    justify-content: space-between;
    border-top: 1px solid #F1F1F1;
    padding: 38px 0;
    margin-top: 20px;
}

.player-description-text-desktop > h1 {
    font-size: 26px;
    line-height: 33px;
}

.published-data {
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
    margin: 4px 0 14px 0;
}

.description {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.show-more-button {
    border: none;
    background: none;
    font-size: 20px;
    line-height: 25px;
    color: #C2C2C2;
    margin-top: 15px;
    cursor: pointer;
}

.video-actions-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    line-height: 25px;
    color: #C2C2C2;
}

.player-description-section-desktop {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.header-mobile-author > h1 {
    font-size: 12px;
    line-height: 20px;
    color: #19202C;
}
.channel-splash {
    border-radius: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 70px;
    position: relative;
    justify-self: flex-start;
}

.channel-splash > img {
    width: 100%;
    object-fit: fill;
}

.channel-author-buttons {
    display: flex;
    align-items: center;
    gap: 22px;
}

.player-splash-mobile  {
    position: relative;
}

.player-area {
    padding: 8px 6px;
    position: absolute;
    width: 100%;
    bottom: 5px;
    display: flex;
    justify-content: center;
}
.player-interface {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    color: white;
    font-size: 10px;
    line-height: 13px;
}

.timeline {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.stop .volume {
    width: 100%;
    display: flex;
    justify-self: flex-start;
    align-self: center;
}

.stop {
    padding: 0 0 2px 16px;
}

.volume {
    padding: 0 16px 2px 0;
}

.player-area > img {
    width: 100%;
}

.player {
    width: 100%;
    position: relative;
}

.player > img {
    width: 100vw;
    position: relative;
}

.player-splash-mobile > img {
    width: 100vw;
    object-fit: cover;
    min-width: 290px;
    aspect-ratio: 16/9;
}
.channel-avatar-mobile{
    position: absolute;
    bottom: -35px;
    left: 16px;
}
.channel-page-mobile{
    position: relative;
}

.channel-sidebar-settings {
    padding-top: 180px;
}

.channel-author {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
}

.channel-author-header {
    display: flex;
    justify-content: space-between;
}

.channel-author-header-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 14px
}

.channel-info {
    display: flex;
    flex-direction: column;
}

.channel-info > h1{
    font-size: 26px;
    line-height: 33px;
}

.channel-info > p{
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.player-header-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.channel-video-autoplay-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13px 16px;
}

.channel-video-autoplay {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.channel-video-autoplay > p {
    font-size: 10px;
    line-height: 13px;
    font-weight: 700;
    letter-spacing: 0.625px;
    text-transform: uppercase;
    color: #19202C;
}

.channel-video-autoplay-section > h1 {
    font-size: 20px;
    line-height: 25px;
}

.player-channel-description-mobile {

}

.player-info-arrow-mobile {
    align-self: flex-start;
    margin: 26px 20px;
}

.player-channel-info-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 30px 16px 21px 16px;
    padding: 20px 0 ;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}

.player-channel-info-section-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.player-channel-description-mobile > h1{
    font-size: 16px;
    line-height: 20px;
}

.player-channel-description-mobile > p{
    font-size: 12px;
    line-height: 15px;
}

.player-info-mobile {
    flex: 1;
    margin: 13px 0;
    padding-left: 16px;
}

.player-info-mobile > h1 {
    font-size: 20px;
    line-height: 25px;
}

.player-info-mobile > p {
    padding-top: 4px;
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
}

.channel-sections-mobile {
    padding: 0 35px 22px 16px;
}
.channel-sections-mobile > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selected-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FF0000;
}

.video-action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100px;
    height: 40px;
    mix-blend-mode: normal;
    border-radius: 20px;
    border-style: none ;
    background-image: url("../images/player-page/button-grey.svg");
    background-color: rgba(256, 256, 256, 0.3);
    cursor: pointer;
}



.video-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin:  0 60px;
}

.channel-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}

.player-page-desktop {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.player-desktop {
    padding-left: 70px;

}

.video-area {
    position: relative;
    width: 100%;
}

.video-area > img {
    width: 100%;
    position: relative;
}

.player-interface-desktop {
    position: absolute;
    display: flex;
    bottom: 20px;
    gap: 20px;
    left: 0;
    right: 0;
    margin: 0 33px;
    flex-direction: column;
}

.player-interface-time-desktop {
    color: white;
    display: flex;
    justify-content: space-between;

}

.player-interface-buttons-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-interface-buttons-right-desktop {
    display: flex;
    gap: 40px
}

.player-interface-buttons-left-desktop {
    display: flex;
    gap: 40px
}

.channel-sections > ul {
    display: flex;
    gap: 69px
}

.channel-videos-desktop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 70px;
}

.channel-main-video {
    align-items: center;
    display: flex;
    gap: 32px
}


.video-info > h1 {
    font-size: 26px;
    line-height: 34px;
}

.video-info {
    align-self: flex-start;
    padding-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;

}

.video-info-description > h1 {
    font-size: 26px;
    line-height: 34px;
    color: #19202C;
}

.channel-sections-recommendations {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 59px;
}

.channel-recommendations-author{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 23px;
    color: #19202C;
    gap: 20px;
    margin-bottom: 30px;
}

.channel-page-videos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: flex-start;
    min-height: 300px;
}

.channel-recommendations-author > p {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 23px;
    color: #19202C;
}

.channel-recommendations {
    display: flex;
    float: right;
    flex-direction: column;
    align-self: flex-start;
    gap: 30px;
}

.channel-recommendations > h1 {
    float: right;
    align-self: flex-start;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
}

.video-info-description > p {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.video-info-stats {
    display: flex;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.video-info > p {
    font-size: 16px;
    line-height: 22px;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.6;

}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .player-page-desktop {
        display: none;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .player-page-desktop {
        flex-direction: column;
    }

    .player-desktop {
        padding-left: 0;
    }

}

@media only screen and (max-width: 1250px) {
    .player-page-desktop {
        flex-direction: column;
        align-items: center;
    }
    .channel-videos-desktop {
        width: 70%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .header-content-channel-mobile {
        display: none;
    }
    .mobile-content {
        display: none;
    }
    .home-videos-mobile {
        display: none;
    }

    .video-actions {
        margin:  0;
    }

    .channel-video-autoplay-section > h1 {
        font-size: 36px;
        line-height: 45px;
    }

    .channel-video-autoplay-section {
        padding: 0;
    }

}